#header {
    height: 64px;
    background: #0000ff;
    margin-bottom: 0.2em;
}

#gameView {
    float: left;
    background: #00ff00;
    width: 74%;
    height: 100%;
    opacity: 0.5;
}

#rightBar {
    width: 25.5%;
    height:100%;
    float:right;
}

#objectView {
    height: 49.5%;
    background: #eee;
    opacity: 0.5;
}

#behaviourView {
    height: 49.5%;
    background: #eee;
    opacity: 0.5;
}

#content {
    height:89%;
    width: 100%;
    position: absolute;
}

.resize_bar {
    background: #000;
    cursor: resize_bar;
}

.hor_resizer {
    height: 6px;
    width: 100%;
}

.vert_resizer {
    width: 0.5%;
    height:100%;
    float: left;
}

#canvas {
	width: inherited;
	height: inherited;
}

body {
    margin: 0px;
}